*{
    box-sizing: border-box;

}
#wpadminbar {
    display: none!important;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.upper-header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--gradient-1, linear-gradient(322deg, #30364A 0%, #1F2334 100%));
    height: 75px;
    gap: 40px;
    position: fixed;
    width: 100%;
    padding: 25px;
    align-items: center;
    z-index: 999;
    @include desktop{
        flex-direction: row;
        padding: 25px 113px;
    }
    .banner-text {
        display: flex;
        margin: 0;
        max-width: 970px;
        flex-direction: row;
        color: var(--base-white, #FFF);
        text-align: center;
        font-size: 24px;
        font-family: Greycliff CF;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -1.44px;
        .banner-text {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            color: var(--base-white, #FFF);
            text-align: center;

            /* Display sm/Heavy */
            font-family: Greycliff CF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 126.667% */
            @include laptop{
                font-size: 48px;
                line-height: 60px; /* 125% */
            }
        }
    }
    #clock{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0;
        max-width: 970px;
        /* flex-direction: column; */
        color: var(--base-white, #FFF);
        text-align: center;
        font-size: 24px;
        font-family: Greycliff CF;
        font-style: normal;
        font-weight: 600;
        line-height:28px;
        letter-spacing: -1.44px;
        @include laptop{
            font-size: 24px;
            line-height: 28px; /* 125% */
        }
        .tile{
            .label{
                color: var(--gray-300, #BFBFBF);
                text-align: center;

                /* Text md/Regular */
                font-family: Greycliff CF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                color: var(--gray-300, #BFBFBF);
                text-align: center;
                @include laptop{
                    /* Text xl/Regular */
                    font-family: Greycliff CF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 150% */
                    max-width: 736px;
                }
            }
        }
    }
}

.site-main{
    margin-top: 113px;
}
.post,
.page {
    margin: 0;
    overflow-x: hidden;
}

p iframe {
    margin: 0px auto;
    display: flex;
}


.not-found-empty{
    width: 100%;
    height: 24px;
    margin-top: -1px;
    position: relative;
    background-color: white;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 4px;
    scrollbar-color: #EE4E54 #EEECEA;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #EEECEA;
}

*::-webkit-scrollbar-thumb {
    background-color: #EE4E54;
}

.contact-form{
    display: flex;
    max-width: 360px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    @include laptop{
        margin: 0;
        align-items: flex-start;
    }
}
form#hsForm_dc267bac-8ccd-4114-9712-c78d02eb7c94 {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    flex-direction: column;
    @include laptop{
        flex-direction: row;
        align-items: flex-start;
    }
}
label#label-email-dc267bac-8ccd-4114-9712-c78d02eb7c94 {
    display: none;
}
input#email-dc267bac-8ccd-4114-9712-c78d02eb7c94 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--gray-100, #EEECEA);
    font-family: Greycliff CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    width: 235px;
    height: 44px;

}
.contact-form-label{
    color: var(--base-white, #FFF);
    font-family: Greycliff CF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
    display: flex;
}
input.hs-button.primary.large {
    border-radius: 8px;
    border: 1px solid var(--primary-600, #EE4E54);
    background: var(--primary-600, #EE4E54);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--base-white, #FFF);
    font-family: Greycliff CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    height: 44px;
}
label.hs-error-msg.hs-main-font-element {
    color: var(--base-white, #FFF);
    font-family: Greycliff CF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    /* justify-content: left; */
    margin-top: 8px;
}
.submitted-message.hs-main-font-element.hs-form-dc267bac-8ccd-4114-9712-c78d02eb7c94.hs-form-dc267bac-8ccd-4114-9712-c78d02eb7c94_69913554-3ac9-4dae-bc45-38486e15241f {
    color: var(--gray-200, #EAECF0);
    font-family: Greycliff CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.logo-nav {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    flex-direction: column;
    @include laptop {
        flex-direction: row;
    }
}
.logo-nav-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 0 0;
    margin: 0 auto;
    @include laptop {
        align-items: flex-start;
        margin: 0;
    }
}


.p-rich_text_list p-rich_text_list__bullet{
    color: var(--gray-600, #475467)!important;

    /* Text lg/Regular */
    font-family: Greycliff CF!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 28px!important;
}

.hs_error_rollup {
    display: none;
}
.submitted-message.hs-main-font-element {
    color: var(--gray-200, #EAECF0);
    font-family: Greycliff CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
