.features{
    padding: 25px 0;
    margin-top: -1px;
    position: relative;
    background-color: white;
    @include laptop{
        padding: 46px 0;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 26px;
        @include tablet{
            flex-wrap: nowrap;
            gap: 0;
        }
        .text-col{
            max-width: 624px;
            padding: 0;
            @include laptop{
                padding: 0 32px;
            }
            p{
                text-align: left;
            }
           .section-title{
                color:$main-1;
           }
           .feature-link{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: $main-1;
                &::after{
                    content: '';
                    margin-left: 8px;
                    width: 11.67px;
                    height: 11.67px;
                    display: inline-block;
                    background-image: url("../../assets/images/icon-arrow.svg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .video-hook{
            width: 100%;
            max-width: 461px;
            position: relative;
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                width: 64px;
                height: 64px;
                background-image: url("../../assets/images/play-button-64.svg");
                right: 25px;
                bottom: 20px;
                display: block;
            }
            @include laptop {
                max-width: 528px;
            }
            border-radius: 16px;

        }
        .features-image{
            width: 100%;
            max-width: 461px;
            @include laptop {
                max-width: 528px;
            }
            border-radius: 16px;

        }
    }
    .left {
        flex-direction: row;
    }
    .right{
        flex-direction: row-reverse;
    }
}
