.featured-blog-posts-block{
    width:100%;
    padding: 25px 0;
    margin-top: -1px;
    position: relative;
    border-radius: 0px 0px 80px 80px;
    background: #202435;
    margin-bottom: 26px;
    @include laptop{
        padding: 60px 0;
        padding-left: 60px;
        margin-bottom: 150px;
    }
    .featured-post-hero{
        width:100%;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        @include tablet{
            padding: 0;
        }
        .container {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap-reverse;
            padding: 10px 0 0 40px;
            gap: 24px;
            @include laptop {
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 50px;
                padding: 0px;
                margin-left: 113px;
            }
            @include desktop{
                margin-right: 0;
                margin-left: auto;
            }
            @include mac{
                margin-right: 0;
                margin-left: auto;
            }
            @include full-width{
                margin-right: 0;
                margin-left: auto;
            }
            @include full-width-xl{
                margin-right: 0;
                margin-left: auto;
            }
            .post-info-col{
                width: 100%;
                padding-right: 35px;
                @include laptop{
                    padding-right: 35px;
                }

                .post-category-box{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 20px;
                    .category-name{
                        color: #BE3E43;

                        /* Text lg/Bold */
                        font-family: Greycliff CF;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px; /* 155.556% */
                        @include tablet{
                            color: #BE3E43;
                            /* Text xl/Bold */
                            font-family: Greycliff CF;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 30px; /* 150% */
                        }

                    }
                }
                .post-title-block{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .section-title{
                        color: #EAECF0;

                        /* Display sm/Heavy */
                        font-family: Greycliff CF;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 38px; /* 126.667% */
                        text-align: left;

                        @include tablet{
                            color: #F5F5F5;

                            /* Display 2xl/Heavy */
                            font-family: Greycliff CF;
                            font-size: 72px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 90px; /* 125% */
                            letter-spacing: -1.44px;
                            text-align: left;
                        }

                    }
                    .section-description{
                        color: #EAECF0;

                        /* Text md/Regular */
                        font-family: Greycliff CF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                        text-align: left;
                        @include tablet{
                            color: #F4F3F4;

                            /* Text lg/Regular */
                            font-family: Greycliff CF;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 28px; /* 155.556% */
                            text-align: left;
                        }
                    }
                    .autor-description{
                        color: #000;

                        /* Text md/Regular */
                        font-family: Greycliff CF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                        @include tablet{
                            color: #000;

                            /* Text md/Regular */
                            font-family: Greycliff CF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                        }
                    }
                    .contributors-block{
                        margin-bottom: 40px;
                        @include tablet{
                            margin-bottom: 0px;
                        }
                        .title{
                            margin-bottom: 24px;
                        }
                        .contributor{
                            margin-bottom: 24px;
                            display: flex;
                            flex-direction: row;
                            gap: 24px;
                            @include tablet{
                                display: flex;
                                flex-direction: row;
                                gap: 24px;
                                align-items: center;
                            }
                            .contributor-image{
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                margin-right: 12px;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                            }
                            .contributor-info{
                                font-size: rem(16);
                                line-height: rem(24);
                                .name{
                                    color: #F4F3F4;

                                    /* Text xl/Bold */
                                    font-family: Greycliff CF;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 30px; /* 150% */
                                }
                                .position{
                                    color: #F4F3F4;

                                    /* Text xl/Regular */
                                    font-family: Greycliff CF;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 30px; /* 150% */
                                }
                            }
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                            .post-navigation{
                                display: none;
                                padding: 0px;
                                margin-left: 40px;
                                @include tablet{
                                    display: flex;
                                }
                                .post-link{
                                    color: #EE4E54;

                                    /* Display md/Regular */
                                    font-family: Greycliff CF;
                                    font-size: 36px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 44px; /* 122.222% */
                                    letter-spacing: -0.72px;
                                    display: flex;
                                    align-items: center;
                                    &::after{
                                        content: '';
                                        margin-left: 10px;
                                        width: 48.67px;
                                        height: 48.67px;
                                        display: inline-block;
                                        background-image: url("../../assets/images/arrow-up-right.svg");
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .image-col{
                margin-bottom: 32px;
                width: 100%;
                @include laptop {
                    margin-bottom: 0px;
                    margin-top: 40px;
                }
                .post-image{
                    border-radius: 29px 0px 0px 29px;
                    width: 100%;
                    @include laptop{
                        min-height: 700px;
                        position: absolute;
                        width: 700px;
                        max-width: 50%;
                        right: 0;
                        object-fit: cover;

                    }
                }
            }
        }
        .autor-left{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap-reverse;
            padding: 10px 40px 10px 0px;
            gap: 24px;
            @include laptop {
                flex-direction: row-reverse;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                gap: 50px;
                padding: 0px;
                margin-right: 113px;
            }
            @include desktop{
                flex-direction: row-reverse;
                margin-left: 0;
                margin-right: auto;
            }
            @include mac{
                flex-direction: row-reverse;
                margin-left: 0;
                margin-right: auto;
            }
            @include full-width{
                flex-direction: row-reverse;
                margin-left: 0;
                margin-right: auto;
            }
            @include full-width-xl{
                flex-direction: row-reverse;
                margin-left: 0;
                margin-right: auto;
            }
            .image-col {
                margin-bottom: 0;
                margin-left: -50px;
                margin-top: 40px;
            }
            .post-info-col{
                padding-left: 40px;
                .col{
                    .contributor.flex {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        text-align: left;
                        flex-direction: column-reverse;
                        @include tablet{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            text-align: right;
                            flex-direction: row;
                        }

                    }
                }
            }
        }
    }
    .container-post{
        padding: 0;
        margin: 0;
        .section-title{
            color: rgba(31, 35, 52, 0.90);

            /* Display md/Bold */
            font-family: Greycliff CF;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px; /* 122.222% */
            letter-spacing: -0.72px;
            text-align: left;
        }
        .section-pre-title{
            color: #BE3E43;

            /* Display xs/Regular */
            font-family: Greycliff CF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
            text-align: left;
        }
        .section-description{
            color: #006098;
        }

        .posts{
            grid-template-columns: 1fr;
            @include tablet{
                grid-template-columns: repeat(2,1fr);
            }
            @include laptop{
                grid-template-columns: repeat(3,1fr);
            }

            padding: 0px;
            column-gap: 32px;
            row-gap: 32px;
            .post{
                border: none;
                a{
                    .bottom-panel-post{
                        display: flex;
                        width: 100%;
                        padding: 133px 0px 0px 0px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .col-text-post{
                            display: flex;
                            padding: 6px 24px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 32px;
                            align-self: stretch;

                            border-top: 1px solid rgba(255, 255, 255, 0.50);
                            background: rgba(255, 255, 255, 0.30);

                            /* Background blur / lg */
                            backdrop-filter: blur(12px);
                            .col-info-post{
                                display: flex;
                                align-items: flex-start;
                                gap: 16px;
                                align-self: stretch;
                                flex-direction: row;
                                justify-content: space-between;
                                padding: 6px 0px;
                                .col-info-text-post{
                                    .published{
                                        color: var(--base-white, #FFF);

                                        /* Text sm/Regular */
                                        font-family: Greycliff CF;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px; /* 142.857% */
                                    }
                                    .autor-name{
                                        color: var(--base-white, #FFF);

                                        /* Text sm/Semibold */
                                        font-family: Greycliff CF;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 20px; /* 142.857% */
                                    }

                                }
                                .col-text-post-category{
                                    color: var(--base-white, #FFF);

                                    /* Text sm/Semibold */
                                    font-family: Greycliff CF;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px; /* 142.857% */
                                }
                            }
                        }
                    }
                    img{
                        width:100%;
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        max-height: 240px;
                    }
                    .post-info{
                        padding: 32px 0px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        .post-title{
                            color: var(--gray-900, #1F2334);

                            /* Display xs/Semibold */
                            font-family: Greycliff CF;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 32px; /* 133.333% */
                            text-align: left;
                        }
                        .section-description{
                            color: var(--gray-600, #475467);

                            /* Text md/Regular */
                            font-family: Greycliff CF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            text-align: left;
                        }
                    }
                    .post-navigation{
                        padding: 0px;
                        .post-link{
                            color: var(--primary-700, #BE3E43);

                            /* Text md/Semibold */
                            font-family: Greycliff CF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px; /* 150% */
                            display: flex;
                            align-items: center;
                            &::after{
                                content: '';
                                margin-left: 8px;
                                width: 20.67px;
                                height: 20.67px;
                                display: inline-block;
                                background-image: url("../../assets/images/arrow-up-right.svg");
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }
                img{
                    width:100%;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                    max-height: 240px;
                    margin-bottom: -200px;
                }
                .bottom-panel{
                    display: flex;
                    width: 100%;
                    padding: 100px 0px 0px 0px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .col-text{
                        display: flex;
                        padding: 6px 20px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 32px;
                        align-self: stretch;

                        border-top: 1px solid rgba(255, 255, 255, 0.50);
                        background: rgba(255, 255, 255, 0.30);


                        /* Background blur / lg */
                        backdrop-filter: blur(12px);
                        .col-info{
                            display: flex;
                            align-items: flex-start;
                            gap: 16px;
                            align-self: stretch;
                            flex-direction: row;
                            .col-text{
                                flex: 1 0 0;
                                color: var(--base-white, #FFF);
                                /* Text sm/Semibold */
                                font-family: Greycliff CF;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px; /* 142.857% */
                            }
                            .col-text-info{
                                display: flex;
                                flex-direction: column;
                                .col-text{
                                    flex: 1 0 0;
                                    color: var(--base-white, #FFF);
                                    /* Text sm/Semibold */
                                    font-family: Greycliff CF;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px; /* 142.857% */
                                }
                            }
                        }
                    }
                }
                .post-info{
                    padding: 32px 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    .post-title{
                        color: var(--gray-900, #1F2334);

                        /* Display xs/Semibold */
                        font-family: Greycliff CF;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32px; /* 133.333% */
                        text-align: left;
                    }
                    .section-description{
                        color: var(--gray-600, #475467);

                        /* Text md/Regular */
                        font-family: Greycliff CF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                        text-align: left;
                    }
                }
                .post-navigation{
                    padding: 0px;
                    .post-link{
                        color: var(--primary-700, #BE3E43);

                        /* Text md/Semibold */
                        font-family: Greycliff CF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; /* 150% */
                        display: flex;
                        align-items: center;
                        &::after{
                            content: '';
                            margin-left: 8px;
                            width: 20.67px;
                            height: 20.67px;
                            display: inline-block;
                            background-image: url("../../assets/images/arrow-up-right.svg");
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }


            }
        }
    }
}
