.gallery-image-block{
    display: flex;
    padding: 48px 16px;
    //padding-bottom: 96px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @include laptop{
        gap: 64px;
        padding: 96px 32px;
    }
    //background: var(--gradient-2, linear-gradient(202deg, #FFF 0%, #EEECEA 100%));
    .container {
        display: flex;
        width: 100%;
        padding: 0px 16px;
        align-items: center;
        gap: 64px;
        @include laptop{
            padding: 0px 32px;
        }
        .text-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 64px;
            flex: 1 0 0;

            .icon-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                .section-pretitle {
                    display: flex;
                    flex-direction: column;
                    align-self: stretch;

                    color: var(--primary-700, #BE3E43);
                    text-align: left;

                    /* Text md/Semibold */
                    font-family: Greycliff CF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 150% */
                }

                .heading {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;

                    .section-title {
                        color: var(--gray-900, #1F2334);

                        /* Display sm/Heavy */
                        font-family: Greycliff CF;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 38px; /* 126.667% */
                        text-align: left;
                        @include laptop{
                            font-size: 48px;
                            line-height: 60px; /* 122.222% */
                        }
                    }

                    .section-description {
                        color: var(--gray-600, #475467);

                        /* Text lg/Regular */
                        font-family: Greycliff CF;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }
            }
        }
        .gallery-block{
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: 16px;
            @include laptop {
                height: 496px;
                max-width: 600px;
            }
            .row-even {
                display: none;
                gap: 16px;
                justify-content: center;
                @include laptop{
                    display: -ms-flexbox; /* IE10 */
                    display: flex;
                    -ms-flex-wrap: wrap; /* IE10 */
                    flex-wrap: wrap;
                }
                .gallery-col {
                    display: flex;
                    gap: 16px;
                    .gallery-image-3{
                        width: 144px;
                        height: 96px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 192px;
                            height: 128px;
                        }
                    }
                    .gallery-image-4{
                        width: 121px;
                        height: 180px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 160px;
                            height: 240px;
                        }
                    }
                    .gallery-image-5{
                        width: 144px;
                        height: 96px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 192px;
                            height: 128px;
                        }
                    }
                }
            }
            .row-even-mobile {
                display: -ms-flexbox; /* IE10 */
                display: flex;
                -ms-flex-wrap: wrap; /* IE10 */
                flex-wrap: wrap;
                gap: 16px;
                justify-content: center;
                align-items: flex-start;
                @include laptop{
                    display: none;
                }
                .gallery-col {
                    display: flex;
                    gap: 16px;
                    flex-direction: column-reverse;
                    .gallery-image-3{
                        width: 144px;
                        height: 96px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 192px;
                            height: 128px;
                        }
                    }
                    .gallery-image-4{
                        width: 121px;
                        height: 180px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 160px;
                            height: 240px;
                        }
                    }
                    .gallery-image-5{
                        width: 144px;
                        height: 96px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 192px;
                            height: 128px;
                        }
                    }
                }
            }
            .row-odd {
                display: -ms-flexbox; /* IE10 */
                display: flex;
                -ms-flex-wrap: wrap; /* IE10 */
                flex-wrap: wrap;
                gap: 16px;
                justify-content: center;
                align-items: flex-end;
                .gallery-col {
                    display: flex;
                    gap: 16px;
                    .gallery-image-1{
                        width: 138px;
                        height: 138px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 160px;
                            height: 160px;
                        }
                    }
                    .gallery-image-2{
                        width: 137px;
                        height: 206px;
                        border-radius: 10px;
                        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
                        @include laptop{
                            width: 160px;
                            height: 240px;
                        }
                    }
                }
            }
        }
    }
    .left {
        flex-direction: column;
        @include desktop{
            flex-direction: row;
        }
        //margin-left: 0px;
        //padding-left: 0px;
        .features-image{
        }
    }
    .right{
        flex-direction: column-reverse;
        @include desktop{
            flex-direction: row-reverse;
        }
        //margin-right: 0px;
        //padding-right: 0px;
        .features-image{
        }
    }
}

