.image-scroll-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    gap: 32px;
    @include laptop{
        gap: 64px;
        padding-top: 96px;
    }
    .container{
        .content-pretitle-title-description{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 48px;
            align-self: stretch;
            .content-heading-suporting-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                .heading{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    .section-pretitle{
                        display: flex;
                        flex-direction: column;

                        color: var(--primary-600, #EE4E54);

                        /* Text md/Semibold */
                        font-size: 16px;
                        font-family: Greycliff CF;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                    }
                    .section-title{
                        color: var(--gray-900, #1F2334);
                        text-align: center;

                        /* Display lg/Heavy */
                        font-family: Greycliff CF;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 38px; /* 125% */
                        letter-spacing: -0.96px;
                        @include laptop{
                            font-size: 48px;
                            line-height: 60px; /* 125% */
                        }
                    }
                }
                .section-description{
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    color: var(--gray-600, #475467);

                    /* Text xl/Regular */
                    font-size: 20px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
        .features-content{
            display: flex;
            max-width: 1280px;
            align-items: center;
            margin-top: 64px;

            @include laptop{
            }
            .features-image{
                display: none;
                width:100%;
                object-fit: contain;
                @include laptop{
                    max-width: 50%;
                    display: flex;
                    margin-left: 40px;
                }
            }
            .features-image-mobile{
                display: flex;
                width:100%;
                object-fit: contain;
                border-radius: 24px 24px 0 0;
                @include laptop{
                    display: none;
                    max-width: 50%;
                }
            }
            .scrollbar{
                float: left;
                height: 360px;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                margin-bottom: 25px;
                direction: rtl;
                .features-list {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    display: flex;
                    align-items: flex-start;
                    direction: ltr;
                    @include laptop{
                        max-width: 624px;
                    }
                    .feature{
                        display: flex;
                        align-items: flex-start;
                        gap: 16px;
                        align-self: stretch;
                        .feature-icon{
                            width: 48px;
                            height: 48px;
                        }
                        .feature-col{
                            display: flex;
                            padding: 16px 0px 16px 24px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 20px;
                            align-self: stretch;
                            .content-title-description{
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                gap: 8px;
                                align-self: stretch;
                                .feature-title{
                                    color: var(--gray-900, #1F2334);

                                    /* Text xl/Semibold */
                                    font-family: Greycliff CF;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 30px; /* 150% */
                                }
                                .feature-description{
                                    color: var(--gray-600, #475467);

                                    /* Text md/Regular */
                                    font-size: 16px;
                                    font-family: Greycliff CF;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }

        }
        .right{
            flex-direction: column-reverse;
            gap: 64px;
            @include laptop{
                flex-direction: row-reverse;
                gap: 0px;
            }
        }
        .left {
            flex-direction: column-reverse;
            gap: 64px;
            @include laptop{
                flex-direction: row;
                gap: 0px;
            }
        }
    }
    .wrapper {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: #FFF;
        border: 1px #000 solid;
        margin: 20px auto;
        padding: 15px;
        position: relative;
        width: 600px;
        height: 600px;
    }

    #container {
        width: 580px;
        height: 580px;
        padding: 5px;
        margin-top: 5px;
        overflow: auto;
        position: relative;
    }

    .ssb_down {
        background-color: #33ccaa;
        bottom:0;
        cursor:pointer;
        position:absolute;
        right:0;
        border-radius: 10px;
    }

    .ssb_sb {
        background-color: #22aabb;
        cursor:pointer;
        position:absolute;
        right:0;
        border-radius: 10px;
    }

    .ssb_sb_down {
        background-color: #1199aa;
    }

    .ssb_sb_over {
        background-color: #33bbcc;
    }

    .ssb_st {
        background-color: #dedede;
        cursor:pointer;
        height:100%;
        position:absolute;
        right:0;
        top:0;
        border-radius: 10px;
    }

    .ssb_up {
        background-color: #33ccaa;
        cursor:pointer;
        position:absolute;
        right:0;
        top:0;
        border-radius: 10px;
    }

    .parent {
        font-family:verdana;
        height:100%;
        padding:10px;
        position:relative;
    }

}
