.main-title-image{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 24px 0;
    gap:48px;
    background: var(--gradient-1, linear-gradient(322deg, #30364A 0%, #1F2334 100%));

    @include laptop{
        padding: 96px 0 0 0;
        gap: 96px;
    }



    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        @include laptop{
            padding: 0px 32px;
        }
        .content-title-description-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
            align-self: stretch;
            .content-title-description{
                display: flex;
                max-width: 1024px;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                .page-title{
                    display: flex;
                    margin: 0 auto;
                    max-width: 970px;
                    flex-direction: column;


                    color: var(--base-white, #FFF);
                    text-align: center;

                    /* Display 2xl/Heavy */
                    font-size: 30px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 38px;
                    letter-spacing: -1.44px;
                    @include laptop{
                        font-size: 72px;
                        line-height: 90px; /* 125% */
                    }
                }
                .page-description{
                    display: flex;
                    max-width: 768px;
                    flex-direction: column;

                    color: var(--gray-300, #BFBFBF);
                    text-align: center;

                    /* Text xl/Regular */
                    font-size: 16px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    @include laptop{
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
            .action-buttons{
                display: flex;
                align-items: center;
                gap: 12px;
                flex-direction: column-reverse;
                @include laptop{
                    flex-direction: row;
                    align-items: flex-start;
                }
                .explore_the_market{
                    display: flex;
                    padding: 16px 28px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid var(--primary-600, #EE4E54);
                    background: var(--primary-600, #EE4E54);

                    /* Shadow/xs */
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

                    color: var(--base-white, #FFF);

                    /* Text md/Semibold */
                    font-size: 16px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                }
                .demo_button{
                    display: flex;
                    padding: 16px 28px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    border-radius: 8px;
                    color: var(--base-white, #FFF);
                    border: none;
                    /* Text md/Semibold */
                    font-size: 16px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.10);

                    /* Shadow/xs */
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

                    &::before{
                        content: '';
                        margin-right: 12px;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        background-image: url("../../assets/images/play-circle.svg");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }

        .block-image{
            margin: 32px auto -64px auto;
            border-radius: 36px;
            position: relative;
            display: flex;
            max-widthwidth: 1280px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            z-index: 1;
            @include laptop{
                max-width: 75%;
                margin: 64px auto -64px auto;
            }
        }
    }
}
