.main-title-video{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 24px 0;
    gap:48px;
    background: var(--gradient-1, linear-gradient(322deg, #30364A 0%, #1F2334 100%));

    @include laptop{
        padding: 96px 0 0 0;
        gap: 96px;
        margin-bottom: 96px;
    }



    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        @include laptop{
            padding: 0px 32px;
        }
        .content-title-description-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
            align-self: stretch;
            .content-title-description{
                display: flex;
                max-width: 1024px;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                .page-title{
                    display: flex;
                    margin: 0 auto;
                    max-width: 970px;
                    flex-direction: column;


                    color: var(--base-white, #FFF);
                    text-align: center;

                    /* Display 2xl/Heavy */
                    font-size: 30px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 38px;
                    letter-spacing: -1.44px;
                    @include laptop{
                        font-size: 72px;
                        line-height: 90px; /* 125% */
                    }
                }
                .page-description{
                    display: flex;
                    max-width: 768px;
                    flex-direction: column;

                    color: var(--gray-300, #BFBFBF);
                    text-align: center;

                    /* Text xl/Regular */
                    font-size: 16px;
                    font-family: Greycliff CF;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    @include laptop{
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }

        .block-video-laptop{
            display: none;
            @include laptop{
                margin: 32px auto -167px auto;
                border-radius: 36px;
                position: relative;
                display: flex;
                max-width: 1280px;
                flex-direction: column;
                align-items: center;
                gap: 32px;
            }
        }
        .block-video-mobile{
            margin: 32px auto -112px auto;
            border-radius: 36px;
            position: relative;
            display: flex;
            max-width: 1280px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            @include laptop{
                display: none;
            }
        }
    }
}
