.signup-block{
    display: flex;
    max-width: 1440px;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @include laptop{
        gap: 64px;
        padding: 96px 0px;
    }

    .container{
        display: flex;
        max-width: 1280px;
        padding: 0px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        @include laptop{
            padding: 0px 32px;
        }
        .section-heading-block{
            display: flex;
            max-width: 768px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            .section-pretitle{
                color: var(--primary-700, #BE3E43);

                /* Text md/Semibold */
                font-family: Greycliff CF;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 150% */
            }
            .section-title{
                color: var(--gray-900, #1F2334);

                /* Display sm/Heavy */
                font-family: Greycliff CF;
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                line-height: 38px; /* 126.667% */
                color: var(--gray-900, #1F2334);
                margin-left: 0;
                text-align: left;

                @include desktop{
                    font-size: 36px;
                    line-height: 44px;
                }
            }
            .section-description{
                color: var(--gray-900, #1F2334);

                /* Text xl/Regular */
                font-family: Greycliff CF;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 150% */
                margin-left: 0;
                text-align: left;
                margin-left: 0;
                text-align: left;
                @include laptop{
                    font-size: 20px;
                    line-height: 30px; /* 150% */
                }
            }
        }

        .cols{
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            .col{
                display: flex;
                padding: 0px;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                flex: 1 0 0;
                align-self: stretch;
                border-radius: 48px;
                height: fit-content;
                @include laptop{
                    gap: 64px;
                }
                .col-desktop-image{
                    .col-icon{
                        display: flex;
                        width: 48px;
                        padding: 2px 0px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .col-info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;
                    .col-title{
                        color: var(--gray-900, #1F2334);

                        /* Text xl/Semibold */
                        font-family: Greycliff CF;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 30px; /* 150% */
                    }
                    .col-description{
                        color: var(--gray-600, #475467);
                        font-family: Greycliff CF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }
                .new-cta-btn{
                    .col-link-btn{
                        display: flex;
                        padding: 12px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 8px;
                        border: 1px solid var(--primary-600, #EE4E54);
                        background: var(--primary-600, #EE4E54);
                        box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.05);
                        width: 100px;
                        margin: 24px 0;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }
        }
        .one {
            grid-template-columns: 1fr;
        }
        .two{
            @include tablet {
                grid-template-columns: 1fr 1fr;
            }
        }
        .three{
            @include tablet {
                grid-template-columns: 1fr 1fr;
            }
            @include laptop {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        .four{
            @include tablet {
                grid-template-columns: 1fr 1fr;
            }
            @include desktop {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        .hbspt-form {
            width: 100%!important;
            margin-top: -100px;
        }
    }
}
