.post-hero{
    width:100%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 32px 0 10px 0;
    @include tablet{
        padding: 64px 0;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap-reverse;
        padding: 10px 0 0 40px;
        gap: 24px;
        @include laptop {
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 50px;
            padding: 0px;
            margin-left: 113px;
            max-width: 1140px;
        }
        @include desktop{
            max-width: 1140px;
            margin-right: 0;
            margin-left: auto;
        }
        @include mac{
            max-width: 1280px;
            margin-right: 0;
            margin-left: auto;
        }
        @include full-width{
            max-width: 1600px;
            margin-right: 0;
            margin-left: auto;
        }
        @include full-width-xl{
            max-width: 1800px;
            margin-right: 0;
            margin-left: auto;
        }
        .post-info-col{
            width: 100%;
            padding-right: 35px;
            @include laptop{
                padding-right: 35px;
            }

            .post-category-box{
                display: flex;
                .category-name{
                    color: #BE3E43;

                    /* Text lg/Bold */
                    font-family: Greycliff CF;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; /* 155.556% */
                    @include tablet{
                        color: #BE3E43;
                        /* Text xl/Bold */
                        font-family: Greycliff CF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px; /* 150% */
                    }

                }
            }
            .post-title-block{
                display: flex;
                flex-direction: column;
                gap: 40px;

                .section-title{
                    /* Display 2xl/Heavy */
                    color: #30364A;

                    /* Display sm/Heavy */
                    font-family: Greycliff CF;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 38px; /* 126.667% */
                    text-align: left;
                    @include tablet{
                        color: rgba(31, 35, 52, 0.90);

                        /* Display 2xl/Heavy */
                        font-family: Greycliff CF;
                        font-size: 72px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 90px; /* 125% */
                        letter-spacing: -1.44px;
                    }

                }
                .section-description{
                    color: #BE3E43;

                    /* Text md/Regular */
                    font-family: Greycliff CF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    text-align: left;
                    @include tablet{
                        color: #BE3E43;

                        /* Display md/Regular */
                        font-family: Greycliff CF;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 44px; /* 122.222% */
                        letter-spacing: -0.72px;
                        text-align: left;
                    }
                }
                .autor-description{
                    color: #000;

                    /* Text md/Regular */
                    font-family: Greycliff CF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    @include tablet{
                        color: #000;

                        /* Text md/Regular */
                        font-family: Greycliff CF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }
                }
                .contributors-block{
                    .title{
                        margin-bottom: 24px;
                    }
                    .contributor{
                        margin-bottom: 24px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        @include tablet{
                            display: flex;
                            flex-direction: row;
                            gap: 24px;
                        }
                        .contributor-image{
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            margin-right: 12px;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                        }
                        .contributor-info{
                            font-size: rem(16);
                            line-height: rem(24);
                            .name{
                                font-weight: 600;
                                color: $black-1;
                            }
                            .position{
                                font-weight: 400;
                                color: $gray-6;
                            }
                        }
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .image-col{
            margin-bottom: 32px;
            width: 100%;
            @include laptop {
                margin-bottom: 0;
                margin-right: -50px;
            }
            .post-image{
                border-radius: 29px 0px 0px 29px;
                width: 100%;
                @include laptop{
                    min-height: 537px;
                }
            }
        }
    }
    .autor-left{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap-reverse;
        padding: 10px 40px 10px 0px;
        gap: 24px;
        @include laptop {
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            gap: 50px;
            padding: 0px;
            margin-right: 113px;
            max-width: 1140px;
        }
        @include desktop{
            flex-direction: row-reverse;
            max-width: 1140px;
            margin-left: 0;
            margin-right: auto;
        }
        @include mac{
            flex-direction: row-reverse;
            max-width: 1280px;
            margin-left: 0;
            margin-right: auto;
        }
        @include full-width{
            flex-direction: row-reverse;
            max-width: 1600px;
            margin-left: 0;
            margin-right: auto;
        }
        @include full-width-xl{
            flex-direction: row-reverse;
            max-width: 1800px;
            margin-left: 0;
            margin-right: auto;
        }
        .image-col {
            margin-bottom: 0;
            margin-left: -50px;
            margin-top: 40px;
        }
        .post-info-col{
            max-width: 600px;
            padding-left: 40px;
            .col{
                .contributor.flex {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    text-align: left;
                    flex-direction: column-reverse;
                    @include tablet{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        text-align: right;
                        flex-direction: row;
                    }

                }
            }
        }
    }
}
.post-content{
    flex-wrap: wrap-reverse;
    margin: 0px;
    padding-left: 0px;
    @include tablet{
        flex-wrap: nowrap;
        margin: 0px 40px;
        padding-left: 113px;
    }
    @include laptop{
        margin: 0px 40px;
        padding-left: 113px;
    }

    .side-content{
        width:100%;
        @include tablet{
            max-width: 216px;
            margin-right: 32px;
        }
        @include laptop{
            max-width: 280px;
            margin-right: 64px;
        }

        .side-container{
            @include tablet {
                top: 10%;
            }
        }

        .title{
            font-weight: 700;
            font-size: rem(16);
            line-height: rem(24);
            color: $main-1;
            margin-bottom: 16px;
        }
        .col{
            padding: 33px 0px;
            border-bottom: 1px solid $gray-2;
        }
        .anchor-nav-block{
            border-top: 1px solid $gray-2;
            display: none;
            @include tablet{
                display: block;
            }
            .section-title{
                color: rgba(31, 35, 52, 0.90);

                /* Display md/Bold */
                font-family: Greycliff CF;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 44px; /* 122.222% */
                letter-spacing: -0.72px;
                text-align: left;
                margin-top: 24px;
            }
            .section-pre-title{
                color: #BE3E43;

                /* Display xs/Regular */
                font-family: Greycliff CF;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
                text-align: left;
            }
            .links-container{
                margin-top: 40px;
                flex-direction: column;
                .post-content-link{
                    font-weight: 500;
                    font-size: rem(16);
                    line-height: rem(24);
                    color:$gray-6;
                    margin-bottom: 12px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
                .posts{
                    grid-template-columns: 1fr;
                    @include tablet{
                        grid-template-columns: repeat(1,1fr);
                    }
                    @include laptop{
                        grid-template-columns: repeat(1,1fr);
                    }

                    padding: 0px;
                    column-gap: 32px;
                    row-gap: 32px;
                    .post{
                        border: none;
                        img{
                            width:100%;
                            object-fit: cover;
                            aspect-ratio: 1/1;
                            max-height: 240px;
                        }
                        .post-info{
                            padding: 32px 0px;
                            display: flex;
                            flex-direction: column;
                            gap: 24px;
                            .post-title{
                                color: var(--gray-900, #1F2334);

                                /* Display xs/Semibold */
                                font-family: Greycliff CF;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 32px; /* 133.333% */
                                text-align: left;
                            }
                            .section-description{
                                color: var(--gray-600, #475467);

                                /* Text md/Regular */
                                font-family: Greycliff CF;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px; /* 150% */
                                text-align: left;
                            }
                        }
                        .post-navigation{
                            padding: 0px;
                            .post-link{
                                color: var(--primary-700, #BE3E43);

                                /* Text md/Semibold */
                                font-family: Greycliff CF;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px; /* 150% */
                                display: flex;
                                align-items: center;
                                &::after{
                                    content: '';
                                    margin-left: 8px;
                                    width: 20.67px;
                                    height: 20.67px;
                                    display: inline-block;
                                    background-image: url("../../assets/images/arrow-up-right.svg");
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                        }


                    }
                }
            }
        }
        .contributors-block{
            .title{
                margin-bottom: 24px;
            }
            .contributor{
                align-items: center;
                margin-bottom: 24px;
                .contributor-image{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    margin-right: 12px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
                .contributor-info{
                        font-size: rem(16);
                        line-height: rem(24);
                    .name{
                        font-weight: 600;
                        color: $black-1;
                    }
                    .position{
                        font-weight: 400;
                        color: $gray-6;
                    }
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
    .main-content{
        width:100%;
        max-width: 720px;
        .sub-text{
            color: #000;

            /* Text md/Regular */
            font-family: Greycliff CF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }

    }
    .paragraph-content{
        padding-top: 32px;
        padding-right: 40px;
        @include tablet{
            padding-top: 40px;
            padding-right: 40px;
        }

        .title{
            font-weight: 700;
            font-size: rem(24);
            line-height:rem(32);
            @include tablet{
                font-size: rem(30);
                line-height: rem(28);
                margin-bottom: 20px;
            }

        }
        .content{
            p{
                color: #000;

                /* Text md/Regular */
                font-family: Greycliff CF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                }

            }
            a{
                display:inline-flex;
            }
            img{
                width: 100%;
                border-radius: 29px 0px 0px 29px;
            }
            ul {
                list-style: circle;
                list-style: disc;
                list-style-type: "•";
                padding-left: 10px;
                li{
                    font-size: rem(16);
                    line-height: rem(24);
                    padding-left: 10px;

                    color:$gray-6;
                    @include tablet{
                        font-size: rem(18);
                        line-height: rem(28);
                    }
                }
            }
        }
    .conclusion{
        background-color: $gray-3;
        border-radius: 29px 0px 0px 29px;
        padding: 16px;
        @include tablet{
            padding: 32px;
        }
        .title{
            color:$black-1;
        }
    }
    .post-testimonial {
        width: 100%;
        .testimonial{
            font-size: rem(20);
            line-height: rem(30);
            text-align: center;
            font-weight: 500;
            @include tablet{
                font-size: 24px;
                line-height: 36px;

            }
        }
        .author-block{
            width: fit-content;
            margin:24px auto;
            font-size: rem(16);
            line-height: rem(24);
            text-align: center;
            img{
                width: 64px;
                height: 64px;
                margin-bottom: 12px;
                border-radius: 50%;
                aspect-ratio: 1/1;
                object-fit: cover;
                @include tablet{
                    width: 110px;
                    height: 110px;
                }
            }
            .author-name{
                font-weight: 700;
                color:$black-1;

            }
            .author-info{
                font-weight: 400;
                color: $gray-6;
            }
        }
    }
}
